.new{
    background-color: var(--fondo);
    color: var(--color-letras);
}

.new__coneiner{
    display: flex;
    justify-content: space-between;
}

.new__all{
    font-weight: bold;
    margin-top: 8px;
    margin-right: 16px;
    text-decoration: none;
}

.new__title{
    font-size: 32px;
    color: var(--titulos);
}

.new__nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.new__box{
    height: 14rem;
    margin-top: 10px;
    background-color: var(--fondo-box);
    color: var(--letras-box);
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    font-size: 18px;
}

.new__img{
    width: 8rem;
    height: 8rem;
}

.new__cost{
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.new__link{
    text-decoration: none;
    background-color: var(--fuente-enlace);
    padding: 6px;
}

.new__link:hover{
    background-color: var(--fuente-encale-dos);
    transition: .75s;
}

@media screen and (max-width: 1190px) {
    .new__nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .new__nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}