.product{
    background-color: var(--fondo);
    color: var(--color-letras);
    display: flex;
    flex-direction: row;
}

.product__conteiner{
    display: flex;
    flex-direction: column;
    position: relative;
}

.product__title{
    font-size: 32px;
    font-weight: bold;
    color: var(--titulos);
}

.product__img{
    margin-top: 8px;
    width: 750px;
    height: 450px;
}

.product__description{
    margin-top: 8px;
    font-size: 18px;
}

.product__price{
    margin-top: 8px;
    font-size: 28px;
}

.product__cataloge{
    margin-top: 4px;
    font-size: 18px;
}

@media screen and (max-width: 1190px) {
    .product{
        width: 1143px;
    }
    .product__conteiner{
        align-items: center;
    }
}